.search-container {
    width: 75%;
    margin: 100px auto;
}

.search-container .input-container {
    width: 100%;
    position: relative;
}

.search-container .input-container input {
    width: 100%;
}

.search-container .input-container .search-icon {
    position: absolute;
    top: 12px;
    right: 15px;
    pointer-events: none;
}

.search-container .input-container .search-icon .icon {
    width: 25px;
    height: 25px;
}

.search-container .search-filter-container {
    display: flex;
    margin: 25px 0;
    align-items: center;
}

.search-container .search-filter-container > span {
    font-weight: bold;
    color: #FFF;
}

.search-container .search-filter-container ul {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
    display: flex;
    gap: 10px;
    width: 100%;
}

.search-container .search-filter-container ul li {
    background-color: var(--container-bg-color);
    border-radius: 6px;
    padding: 5px 30px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-container .search-filter-container ul li:hover {
    background-color: var(--secondary-container-bg-color);
}

.search-container .search-filter-container ul li.selected {
    background-color: var(--theme-color);
    font-weight: bold;
    color: #FFF;
}

.search-container .search-filter-container ul li.sort {
    margin-left: auto;
}

.search-container .search-filter-container ul li select {
    margin: -10px -30px;
    padding: 0 10px;
    background-color: transparent;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    font: var(--font-family);
    font-size: var(--font-size);
}

.search-container .search-filter-container ul li select option {
    color: black;
}

.search-container .search-result-amount {
    font-weight: bold;
    color: #FFF;
}

.search-container .search-results {
    margin: 25px auto;
}

.search-container .search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.search-container .search-results ul li {
    height: 300px;
    position: relative;
    cursor: pointer;
    width: fit-content;
    place-self: center;
}

.search-container .search-results ul li:hover .movie-title {
    opacity: 1;
    visibility: visible;
}

.search-container .search-results ul li img {
    max-width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
    z-index: 1;
}

.search-container .search-results ul li .rating {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 3px 6px;
    width: auto;
    right: 10px;
    top: 10px;
}

.search-container .search-results ul li .rating img {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.search-container .search-results ul li .movie-title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    opacity: 0;
    visibility: collapse;
    transition: opacity 0.2s ease-in-out;
}

.search-container .search-results ul li .movie-title span {
    font-weight: bold;
    max-width: 75%;
    text-align: center;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .search-container .search-results ul {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 960px) and (max-width: 1200px) {
    .search-container .search-results ul {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 960px) {
    .search-container .search-results ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .search-container .search-filter-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-container .search-filter-container ul {
        margin: 20px 0 0 0;
        flex-wrap: wrap;
    }

    .search-container .search-filter-container ul li.sort {
        flex-basis: 100%;
        width: auto;
        padding: 5px 10px;
    }

    .search-container .search-filter-container ul li select {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .search-container .search-results ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-container .search-filter-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-container .search-filter-container ul {
        margin: 20px 0 0 0;
        flex-direction: column;
    }

    .search-container .search-filter-container ul li {
        padding: 5px 0;
        text-align: center;
    }

    .search-container .search-filter-container ul li.sort {
        width: 100%;
    }

    .search-container .search-filter-container ul li select {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .search-container .search-result-amount {
        text-align: center;
    }

    .search-container .input-container .search-icon {
        display: none;
    }
}

@media (max-width: 380px) {
    .search-container .search-results ul {
        grid-template-columns: repeat(1, 1fr);
    }
}