@import "variables.css";



 .container-2{
   
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
    border-radius: 2%;
    width: 100%;
    margin: 0;
 }

.contact-header {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
  color: var(--text-color);
}

.contact-card-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0px;
    flex: 1 1 30%;
}
.contact-card{ 
 background-color: var(--secondary-container-bg-color);
 border-radius: 8%;
}

.contact-card:hover {
    border-color: var(--secondary-theme-color);  
    color: var(--secondary-theme-color);  
    box-shadow: 0 4px 12px var(--secondary-theme-color-hover);
    cursor: pointer;
    transform: scale(1.1);
}

.pic img{
    width: 300px;
    height: 300px;
    padding: 0;
    border-radius: 100%;
    border: 1px solid;
    background-color: var(--main-background-color);
}
.name, .number, .email {
    text-align: center;
}



.location-container {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 30%;
   justify-content: space-around;
   background: var(--secondary-container-bg-color);
}

.location-img {
    width: 50%;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
}

.location-container h2 {
    display:block;
    margin-top: 20px;
    padding: 10px;
     
}


.location-info {
    background-color: var(--secondary-container-bg-color);
    border-radius: 10%;
    margin: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
}



ul li {
    margin: 1em;
    display: flex;
    align-items: center;
}
li img {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-color: var(--secondary-container-bg-color);    
    box-shadow: 0 4px 12px var(--secondary-theme-color-hover)
}