
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reglogincontainer {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    max-width: 520px;
    max-height: auto;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.reglogincontainer h1 {
    text-align: center;
    color: purple;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    padding: 3px;
    background-color: rgb(140, 140, 140);
    color: white;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: blueviolet;
    outline: black;
    border: 3px solid blueviolet;
}

input[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin: 0 100px;
    display: block;
}

input[type=submit]:hover {
    background-color: rgb(25, 141, 25);
    cursor: pointer;
}



.regbutton {
    display: inline-block;
    background-color: rgb(142, 84, 161);
    color: white;
    padding: 5px;
    border: 2px solid purple;
    border-radius: 5px;
    text-decoration: none;
}

.regbutton:hover {
    background-color: blueviolet;
    color: white;
}

.loginbutton {
    display: inline-block;
    background-color: rgb(142, 84, 161);
    color: white;
    padding: 5px;
    border: 2px solid purple;
    border-radius: 5px;
    text-decoration: none;
}

.loginbutton:hover {
    background-color: blueviolet;
    color: white;
}

#nothing {
    color:rgb(255, 255, 255)
}

label a, #nothing {
    color: rgb(149, 85, 146);
    text-decoration: none;
    font-weight: bold;
}

label a:hover, #nothing:hover {
    color: rgb(232, 222, 157);
    text-decoration: underline;
}

.logo-container img {
    width: 140px;
    height: auto;
}

.payment-cont {
    background-color: rgb(140, 140, 140);
    padding: 1px;
}

.villkor-container {
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    max-width: 500px;
    max-height: auto;
    background-color: rgb(97, 97, 97);
    border-radius: 10px;
}