body {
    background-color: rgb(81, 81, 81);
}

.navcontainer {
    background-color: rgb(66, 0, 82);
    min-height: auto;
    min-width: auto;
    margin: 10px;
    padding: 10px;
}

.navbar {
    background-color: #4d2667;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 2fr auto auto;
    padding: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    max-height: 70px;
    border: 5px solid rgb(0, 0, 0);

}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    display: contents;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-align: center;
    line-height: 5px;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    display: block;
}

.navbar ul li {
    height: 100%;
}

.navbar ul li:last-child a {
    margin-left: 20px;
}

.navbar a:hover {
    background-color: rgb(165, 48, 161);
    color: black;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reglogincontainer {
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    max-width: 500px;
    max-height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.reglogincontainer h1 {
    text-align: center;
    color: purple;
}

.logo-container img {
    width: 140px;
    height: auto;
}

.villkor-container {
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    max-width: 500px;
    max-height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}