@import "variables.css";

.main-container-1 {
    text-align: center;
    display: grid;
}

.hero {
    background-image: url('../../images/r-images/hero.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    border-radius: 15px;
    border: 1px solid var(--container-bg-color);
}

.hero-section h1 {
    font-size: 3rem;
    color: var(--text-color);
    background-color: var(--secondary-container-bg-color);
    padding: 1rem 2rem;
    border-radius: 8px;
    border: 1px solid var(--secondary-theme-color);
    box-shadow: 0 4px 12px var(--secondary-theme-color-hover);
}

.about-us {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    height: 300px;
    margin: 25px;
    align-self: center;
}

.about-us-title {
    display: grid;
    align-items: center;
    font-size: 2em;

}

.about-us-content {
    font-size: 25px;
    font-weight: 100;
}

.container-2 {
    grid-template-columns: repeat(2 1fr);
    font-size: 20px;
    justify-self: normal;
    margin: 20px 0;
}

.portfolio {
    display: grid;
    gap: 100px;

}

.portfolio-content {
    display: grid;
    grid-column: 1 / 2;
    width: 400px;
}

.portfolio-img {
    display: grid;
    grid-column: 2 / 3;
}

.portfolio img {
    margin-left: 10px;
    grid-column: 2 / 3;
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--secondary-theme-color);
    margin: 20px 0;
}

.skillz {
    display: grid;
    gap: 10rem;
    margin: 100px 0;
    place-items: center;
}

.skillz-img {
    display: grid;
    grid-column: 1 / 2;
    margin-right: 0;
}

.skillz img {
    width: 50vw;
    border-radius: 30px;
    border: 1px solid var(--secondary-theme-color);
}


.skillz-content {
    display: grid;
    grid-column: 2 / 3;
    margin-top: 5%;
    line-height: 1.6;
}

.partner {
    display: grid;
    margin: 100px 0;
}

.partner {
    display: grid;
    gap: 50px;
    margin: 100px 0;
}

.partner-content-wrapper {
    align-self: center;
}

.partner-content-wrapper h2 {
    display: grid;
    grid-column: 1 / 2;
    margin: 20px;
}

.partner-content {
    display: grid;
    grid-column: 1 / 2;
    margin: 20px;
}

.partner-img {
    display: grid;
    grid-column: 2 / 3;

}

.partner img {
    border-radius: 50PX;
    width: 600px;
    border: 1px solid var(--secondary-theme-color);
}


.leader {
    display: grid;
    gap: 50px;
}

.leader-content-wrapper {
    align-self: center;
    padding-bottom: 100px;
}

.leader-content-wrapper h2 {
    display: grid;
    grid-column: 1 / 2;
    margin: 20px;
}

.leader-content {
    display: grid;
    grid-column: 1 / 2;
    margin: 0;
}

.contact-page {
    display: grid;
    text-decoration: none;
}

.leader-img {
    display: grid;
    grid-column: 2 / 3;
}

.leader img {
    width: 50vw;
    border-radius: 50PX;
    border: 1px solid var(--secondary-theme-color);
}


.contact-page {
    display: block;
    margin-top: 100px;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--container-bg-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
}



.contact-page:hover {
    background-color: var(--secondary-theme-color);
    color: var(--secondary-container-bg-color);
    cursor: pointer;
    transform: scale(1.3);
}

@media (min-width: 1200px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
}

@media (min-width: 960px) and (max-width: 1200px) {
    .hero {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px;
    }

    .about-us-title {
        font-size: 30px;
    }

    .about-us-content,
    .skillz-content,
    .partner-content,
    .leader-content {
        font-size: 20px;
    }

    .skillz img {
        width: 45vw;
    }

    .partner img {
        width: 500px;
    }

    .leader img {
        width: 45vw;
    }
}


@media (min-width: 768px) and (max-width: 960px) {
    .main-container-1 {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        width: 100%;
    }

    .hero section {
        height: auto;
        width: 100%;
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .about-us-title,
    .about-us-content {
        font-size: 25px;
    }

    .portfolio-content,
    .portfolio-img,
    .skillz-content,
    .skillz-img,
    partner-content-wrapper h2,
    .partner-content,
    .partner-img,
    leader-content-wrapper h2,
    .leader-content,
    .leader-img {
    grid-column: 1 / 1;
    justify-self: center;
    text-align: center;
    }

    .portfolio img,
    .skillz img,
    .partner img,
    .leader img {
        width: 100%;
        margin: 0 auto;
    }
    .contact-page {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-container-1 {
        grid-template-columns: 1fr;
        align-items: center;
        width: 100%;
    }

    .hero section {
        height: auto;
        width: 100%;
        padding: 20px;
       text-align: center;
    }

    .leader img {
        display: none;
    }

    .about-us-title,
    .about-us-content {
        font-size: 20px;
    }

    .portfolio-content,
    .portfolio-img,
    .skillz-content,
    .skillz-img,
    partner-content-wrapper h2,
    .partner-content,
    .partner-img,
    leader-content-wrapper h2,
    .leader-content,
    .leader-img {
        grid-column: 1 / 1;
        justify-self: center;
        text-align: center;
    }

    .portfolio img,
    .skillz img,
    .partner img,
    .leader img {
        width: 100%;
        margin: 0 auto;
    }
}