@import "variables.css";



.main-container-1 {
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    margin: 0 20px;
}
    

.hero{
 background-image: url('../../images/r-images/her92.jpg');
 background-size: cover;
 width: 100%;
 height: 100vh;
 display: grid;
 grid-template-columns: 1fr;
 place-items: center;
 border-radius: 15px;
 }

 .hero-section h1 {
    font-size: 3rem;
    color: var(--text-color);
    background-color: var(--secondary-container-bg-color);
    padding: 1rem 2rem;
    border-radius: 8px;
}
 .about-us{
    display: grid;
    margin-top: 20px;
   grid-template-columns: 1fr;
    height: 300px;  
    margin: 25px;
    align-self: center;
}

.about-us-title {
    display: grid;
    align-items: center;
    font-size: 2em;
    
}
.about-us-content {
    font-size:25px;
    font-weight: 100;
}

.container {
    grid-template-columns: repeat(2 1fr);
    gap: 100px 100px;
    font-size: 20px;
    justify-self: normal;
    margin: 20px 0;
}

.portfolio {
    display: grid;
   gap: 50px;
   place-items: center; 
} 

.portfolio-content{
    display: grid;
    grid-column: 1 / 2;
   width: 400px;
}

.portfolio-img{
    display: grid;
    grid-column: 2 / 3;
} 

.portfolio img {
    width: 100%;
    margin-left: 10px;
    grid-column: 2 / 3;
    border-radius: 20px;
}

.skillz{
    display: grid;
    gap: 50px;
    margin: 100px 0; 
    place-items: center;
} 

.skillz-img {
    display: grid;
    grid-column: 1 / 2;
    justify-items: start;
}

.skillz img {
    width: 50vw;
    border-radius: 30px;
}


.skillz-content {
   display: grid;
   grid-column: 2 / 3;
    margin-top: 5%; 
    line-height: 1.6;
}

.partner {
    display: grid;
    margin: 100px 0;
}



.partner {
    display: grid;
    gap: 50px;
    margin: 100px 0; 
}

.partner-content-wrapper {
    align-self: center;
}

.partner-content-wrapper h2 {
    display: grid;
    grid-column: 1 / 2;
    margin: 20px;
}

.partner-content{
    display: grid;
   grid-column: 1 / 2;
   margin: 20px; 
}

.partner-img {
    display: grid;
    grid-column: 2 / 3;

}

.partner img {
    width: 50vw;
    border-radius: 50PX;
}

.leader {
    display: grid;
    margin: 100px 0;
    gap: 50px; 
}

.leader-content-wrapper {
    align-self: center;
}

.leader-content-wrapper h2 {
    display: grid;
    grid-column: 1 / 2;
    margin: 20px;
}

.leader-content{
    display: grid;
   grid-column: 1 / 2;
   margin: 0;
}

.contact-page {
    display: grid; 
   text-decoration: none;
}

.leader-img {
    display: grid;
    grid-column: 2 / 3;
}
.leader img {
    width: 50vw;
    height: fit-content;
    border-radius: 50PX;
}

.contact-page{
    display: block;
    margin-top: 100px;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--container-bg-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
}



.contact-page:hover {
    background-color: var(--secondary-theme-color);
    color: var(--secondary-container-bg-color);
    cursor: pointer;
    transform: scale(1.3); 
}


  