:root {
    --main-background-color: #19161c;
    --theme-color: #512B81;
    --secondary-theme-color: #4477CE;
    --text-color: #E1D6EC;
    --font-family: "Roboto", sans-serif;
    --font-size: 16px;
}
