.trending-shows {
    margin: 100px 0;
}

.trending-shows ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.trending-shows ul li {
    display: flex;
    flex-direction: column;
    height: 350px;
    border-radius: 6px;
    box-shadow: 0 0 40px transparent;
    transition: all 0.2s ease;
}

.trending-shows ul li a {
    height: 100%;
}

.trending-shows ul li:hover {
    opacity: 0.75;
}

.trending-shows ul li .ranking {
    padding: 20px;
    z-index: 1;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    font-size: 2em;
    text-shadow: 0 0 10px black;
}

.trending-shows ul li .thumbnail {
    width: 210px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    background-position: center;
}

.trending-shows ul li .thumbnail img {
    width: 100%;
    height: 100%;
}

.prices {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    margin: 100px 0;
}

.prices .plan {
    background-color: var(--container-bg-color);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.prices .plan:nth-child(3) {
    transform: scale(1.1);
}

.prices .plan .plan-name {
    text-align: center;
    margin: -20px -20px 0 -20px;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
    background: var(--secondary-container-bg-color);
    border-radius: 30px 30px 0 0;
    color: #FFF;
}

.prices .plan .plan-name .best-value {
    margin: 0;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.5;
    font-style: italic;
    color: var(--text-color);
}

.prices .plan .plan-benefits ul {
    list-style-stype: none;
    margin: 0;
    padding: 20px 0;
}

.prices .plan .plan-benefits ul li {
    display: flex;
    gap: 10px;
    color: var(--text-color);
}

.prices .plan .plan-benefits ul li .benefit-name {
    font-weight: bold;
}

.prices .plan .plan-benefits ul li.disabled .icon,
.prices .plan .plan-benefits ul li.disabled .plan-desc {
    opacity: 0.5;
}

.prices .plan .plan-benefits .plan-desc {
    width: 100%;
}

.prices .plan .plan-benefits ul li .icon {
    height: 35px;
    width: 35px;
    margin-top: 13px;
}

.prices .plan .purchase-btn {
    width: 100%;
}

.prices .plan .purchase-btn p {
    padding: 0;
    margin: 0;
}

.prices .plan .purchase-btn:hover {
    background-color: var(--theme-color-hover);
}

.section-intro {
    text-align: center;
    margin: 50px 0;
}

.section-intro h1 {
    color: #FFF;
    margin: 0;
}

.member-offers {
    margin: 100px 0;
}

.member-offers ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.member-offers ul li {
    background-color: var(--container-bg-color);
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.member-offers ul li h3 {
    margin: 0;
    color: #FFF;
}

.member-offers ul li .icon-footer {
    margin-left: auto;
    margin-top: auto;
}

.faq {
    margin: 100px 0;
}

.faq-container {
    background-color: var(--container-bg-color);
    border-radius: 6px;
}

.faq-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.faq-container ul li {
    padding: 20px;
}

.faq-container ul li .question-header {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: -20px -20px 0;
    padding: 20px 0 0 20px;
}

.faq-container ul li:first-child .question-header {
    border: none;
}

.faq-container ul li .question-header .icon {
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: 10px;
}

.faq-container ul li:not(.hidden) .question-header .icon-arrow-down,
.faq-container ul li.hidden:hover .question-header .icon-arrow-down,
.faq-container ul li.hidden .question-header .icon-arrow-up,
.faq-container ul li.hidden p {
    display: none;
}

.faq-container ul li h3 {
    margin: 0;
    color: #FFF;
    align-self: center;
}

.faq-container ul li p {
    margin: 10px 0 0 0;
}

.faq-container ul li.hidden:hover p,
.faq-container ul li.hidden:hover .question-header .icon-arrow-up {
    display: block;
}

.more-movies {
    margin: 100px 0;
}

.more-movies ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.more-movies ul li {
    position: relative;
}

.more-movies ul li .blurred-bg {
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    filter: blur(5px);
    border-radius: 6px;
}

.more-movies ul li .inner-poster {
    padding: 10px;
    z-index: 2;
    position: relative;
    display: flex;
    
}

.more-movies ul li .inner-poster img {
    height: 150px;
    margin: 0 auto;
    border-radius: 6px;
}

.more-movies ul li .inner-poster .listing-type {
    position: absolute;
}